
<div id="headerChatroom">
  <%= render 'layouts/header' %>
</div>

<div class="ui container">
  <div class="ui grid">
    <div id="participants-column" class="four wide column">
      <div id="all-participants" class="ui vertical menu">
        <h3>Participants</h3>
          <div class="ui feed">
            <%= render @users %>
          </div>  
      </div>
    </div>

    <div id="chatbox-column" class="twelve wide column">
      <div id="chatbox">
        <div id="messageContainer" class="ui feed">
          <%= render @messages %>
        </div>
      </div>

      <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path, remote: true) do |f| %> 
      <div id="writeMessageBox">
        <%= f.text_field :body %>
        <%=   f.button '<i class="bordered inverted orange edit icon"></i>'.html_safe %>
      </div>
      <% end %>
    </div>


  </div>

</div>

